<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员登陆</title>
    <link rel="stylesheet" href="__CSS__/manager_login.css">
    <script src="__JS__/tipAnimate.js"></script>
    <script src="__JS__/manager/flagsign.js"></script>
</head>
<script>
var php = '__MANAGER__';
</script>
<body>
  <!-- <div id="result" style="margin-top: 0rem;" class="tip"></div> -->
  <div class="loginregister" id="login" style="display: block;">
    <label for="midl">管理员账户:</label>
    <input id="midl" name="midl" type="text" class="logininput">
    <br>
    <label for="midpwdl">管理员密码:</label>
    <input id="midpwdl" name="midpwdl" type="password" class="logininput">
    <br>
    <span class="button" id="loginbtn">登陆</span>
    <span class="button" id="registerbtn">注册</span>
  </div>
  <div class="loginregister" id="register" style="display: none;">
    <label for="midr">自定义账户:</label>
    <input id="midr" name="midr" type="text" class="registerinput">
    <br>
    <label for="midpwdr">自定义密码:</label>
    <input id="midpwdr" name="midpwdr" type="password" class="registerinput">
    <br>
    <span class="button" id="surebtn">提交</span>
    <span class="button" id="cancelbtn">取消</span>
  </div>
</body>
</html>
<script src="__JS__/cookie.js"></script>
<script src="__JS__/md5.js"></script>
<script src="__JS__/event.js"></script>
<script src="__JS__/getDom.js"></script>
<script src="__JS__/manager/login.js"></script>
