<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" href="__CSS__/manager_login.css">
    <script src="__JS__/tipAnimate.js"></script>
    <script src="__JS__/manager/flagsign.js"></script>
</head>
<script>
var php = '__MANAGER__';
</script>
<body>
  <div class="loginregister" id="login" style="display: block;">
    <div class="title">管理员登录</div>
    <div class="input_outer">
      <span class="user"></span>
      <input id="midl" name="midl" type="text" class="logininput" placeholder="管理员账户">
    </div>
    <br>
    <div class="input_outer">
      <span class="pwd"></span>
      <input id="midpwdl" name="midpwdl" type="password" class="logininput" placeholder="管理员密码">
    </div>
    <br>
    <span class="button" id="loginbtn">确定</span>
    <span class="registerbutton" id="registerbtn">注册</span>
  </div>
  <div class="loginregister" id="register" style="display: none;">
    <div class="title">管理员注册</div>
    <div class="input_outer">
      <span class="user"></span>
      <input id="midr" name="midr" type="text" class="registerinput" placeholder="自定义账户">
    </div>
    <br>
    <div class="input_outer">
      <span class="pwd"></span>
      <input id="midpwdr" name="midpwdr" type="password" class="registerinput" placeholder="设置密码">
    </div>
    <br>
    <span class="button" id="surebtn">提交</span>
    <span class="cancelbutton" id="cancelbtn">返回</span>
  </div>
</body>
</html>
<script src="__JS__/cookie.js"></script>
<script src="__JS__/md5.js"></script>
<script src="__JS__/event.js"></script>
<script src="__JS__/getDom.js"></script>
<script src="__JS__/manager/login.js"></script>
