<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <link rel="stylesheet" href="__CSS__/user_login.css">
</head>
<script>
var php = '__BLOG__';
</script>
<body>
  <div class="loginregister" id="login" style="display: block;">
    <label for="uidl">用户账户:</label>
    <input id="uidl" name="uidl" type="text" class="logininput">
    <br>
    <label for="uidpwdl">用户密码:</label>
    <input id="uidpwdl" name="uidpwdl" type="password" class="logininput">
    <br>
    <span class="button" id="loginbtn">登陆</span>
    <span class="button" id="registerbtn">注册</span>
  </div>
  <div class="loginregister" id="register" style="display: none;">
    <label for="uidr">自定义账户:</label>
    <input id="uidr" name="uidr" type="text" class="registerinput">
    <br>
    <label for="uidpwdr">自定义密码:</label>
    <input id="uidpwdr" name="uidpwdr" type="password" class="registerinput">
    <br>
    <span class="button" id="surebtn">提交</span>
    <span class="button" id="cancelbtn">取消</span>
  </div>
</body>
</html>
<script src="__JS__/cookie.js"></script>
<script src="__JS__/md5.js"></script>
<script src="__JS__/event.js"></script>
<script src="__JS__/getDom.js"></script>
<script src="__JS__/user/login.js"></script>
