<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="__CSS__/user_login.css">
</head>
<script>
var php = '__BLOG__';
</script>
<body>
  <div class="loginregister" id="login" style="display: block;">
    <div class="title">登录</div>
    <div class="input_outer">
      <span class="user"></span>
      <input id="uidl" name="uidl" type="text" class="logininput" placeholder="用户名">
    </div>
    <br>
    <div class="input_outer">
      <span class="pwd"></span>
      <input id="uidpwdl" name="uidpwdl" type="password" class="logininput" placeholder="密码">
    </div>
    <br>
    <span class="button" id="loginbtn">确定</span>
    <span class="registerbutton" id="registerbtn">注册</span>
  </div>
  <div class="loginregister" id="register" style="display: none;">
    <div class="title">注册</div>
    <div class="input_outer">
      <span class="user"></span>
      <input id="uidr" name="uidr" type="text" class="registerinput" placeholder="自定义用户名">
    </div>
    <br>
    <div class="input_outer">
      <span class="pwd"></span>
      <input id="uidpwdr" name="uidpwdr" type="password" class="registerinput" placeholder="设置密码">
    </div>
    <br>
    <span class="button" id="surebtn">提交</span>
    <span class="cancelbutton" id="cancelbtn">返回</span>
  </div>
</body>
</html>
<script src="__JS__/cookie.js"></script>
<script src="__JS__/md5.js"></script>
<script src="__JS__/event.js"></script>
<script src="__JS__/getDom.js"></script>
<script src="__JS__/user/login.js"></script>
