<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>许源锐的博客</title>
        <link rel="stylesheet" href="__CSS__/css.css">
    </head>
    <body>
        <div class="toolbar-head">
            <a href="#" title="博客首页" class="home-head">首页</a>
            <div class="login">
                <a href="">登陆&nbsp;</a>|
                <a href="">&nbsp;注册</a>
            </div>
        </div>
        <div id="header">
            <a href="#" class="blog-title">我的博客</a>
            <span>这是我开发的第一个博客</span>
        </div>
        <div id="container">
            <div id="side">
	            <div id="personal">
	                <ul class="personal-head">个人资料</ul>
	                <ul class="personal-body">
	                    <div class="personal-avatar">
	                        <img src="__IMG__/avatar.png"><br>
	                        <span>whbxyr</span>
	                        <div class="personal-middle"></div>
	                    </div>
	                    <ul>
	                        <li>访问次数：$visitnum}<span>次</span></li>
	                        <li>评论条数：$commentnum}<span>次</span></li>
	                    </ul>
	                </ul>
	            </div>
	            <div id="kind">
	                <ul class="kind-head">文章分类</ul>
	                <ul>
	                    <li><a href="#">Javascript</a><span>($num})</span></li>
	                    <li><a href="#">HTML</a><span>($num})</span></li>
	                    <li><a href="#">CSS</a><span>($num})</span></li>
	                    <li><a href="#">MySQL</a><span>($num})</span></li>
	                </ul>
	            </div>
	        </div>
            <div id="article">
                <ul class="article-head">$kind}</ul>
                <div class="article-container">
                    <div class="article-list left"><ul><a href="">$title}</a></ul><div><a href=""><span style="background-image:url(__IMG__/timg.jpg)";></span></a></div><ul>$time}<span>总计评论$num}次</span></ul></div>
                    <div class="article-list right"><ul><a href="">$title}</a></ul><div><a href=""><span style="background-image:url(__IMG__/timg.jpg)";></span></a></div><ul>$time}<span>总计评论$num}次</span></ul></div>
                    <div class="article-list left"><ul><a href="">$title}</a></ul><div><a href=""><span style="background-image:url(__IMG__/timg.jpg)";></span></a></div><ul>$time}<span>总计评论$num}次</span></ul></div>
                    <div class="article-list right"><ul><a href="">$title}</a></ul><div><a href=""><span style="background-image:url(__IMG__/timg.jpg)";></span></a></div><ul>$time}<span>总计评论$num}次</span></ul></div>
                </div>
            </div>
            <div id="newest">
	            <ul class="newest-head">最新文章</ul>
	            <ul>
	                <li><div class="item-thumbnail"><a href="" class="thumbnail"><span></span></a></div><div class="item-inner"><p><a href="">$title}</a></p><p class="newest-time">$time}</p></div></li>
	                <li><div class="item-thumbnail"><a href="" class="thumbnail"><span></span></a></div><div class="item-inner"><p><a href="">$title}</a></p><p class="newest-time">$time}</p></div></li>
	                <li><div class="item-thumbnail"><a href="" class="thumbnail"><span></span></a></div><div class="item-inner"><p><a href="">$title}</a></p><p class="newest-time">$time}</p></div></li>
	                <li><div class="item-thumbnail"><a href="" class="thumbnail"><span></span></a></div><div class="item-inner"><p><a href="">$title}</a></p><p class="newest-time">$time}</p></div></li>
	                <li><div class="item-thumbnail"><a href="" class="thumbnail"><span></span></a></div><div class="item-inner"><p><a href="">$title}</a></p><p class="newest-time">$time}</p></div></li>
	            </ul>
	        </div>
        </div>
    </body>
</html>